BOT_TOKEN=
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/aisha_mebel
REDIS_URL=redis://localhost:6379/0

ADMIN_INITIAL_USERNAME=Muhammad
ADMIN_INITIAL_PASSWORD=

SECRET_KEY=
JWT_SECRET=

OBJECT_STORAGE_ENDPOINT=
OBJECT_STORAGE_BUCKET=
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_KEY=

COMPANY_TELEGRAM=@zjxkdjbd
COMPANY_PHONE_1=880606040
COMPANY_PHONE_2=934124604

APP_URL=
WEB_APP_URL=
